*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* TOP BLOCK */


.top{

    height: 100vh;
    width: 100%;
    background-image: url(../images/topImg.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 7.1%;
}


/* MIDDLE BLOCK */


.middle{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    margin-bottom: 8.6%;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.second{
    width: 50%;
}

.first p{
    color: #000000;
    font-family: "Avant Garde - Book";
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.8px;
    text-align: center;
    font-size: 0.8vw;
    width: 65%;
}

.second{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.second img{
    width: 100%;
    height: 100%;
}

.secondPhoto{
    height: 100%;
    width: 79%;
    margin-right: 16%;
}

.first img{
    width: 100%;    
    height: 100%;
}

.firstPhoto{
    width: 79%;
}

.first h4{
    color: #000000;
    font-family: "Avant Garde - Book";
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.8px;
    margin-top: 4%;
}


/* BOTTOM BLOCK */


.bottom{
    width: 100%;
    display: flex;
    margin-bottom: 8%;
}

.photo{
    width: 65.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 35%;
}

.photo2{
    display: none;
}

.photo img{
    width: 100%;
    height: 100%;
}

.content{
    width: 30%;
}

.content h4{
    color: #000000;
    font-family: "Avant Garde - Book";
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.8px;
}

.contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h4 span, .first h4 span{
    border-bottom:1px solid black;
    padding-bottom: 1px;
}

.contentTitle{
    width: 100%;
    text-align: center;
    height: 4.9%;
    margin-bottom: 8%;
}
.contentTitle h3{
    color: #000000;
    font-family: Computerfont;
    font-size: 4vw;
    font-weight: 400;
}

.contentTitle img{
    width: 100%;
    height: 100%;
}


/* LASTONE BLOCK */


.lastOne{
    display: flex;
    justify-content: space-between;
    background: white;
    margin-bottom: 4%;
}

.imgs h4{
    margin-top: 2%;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 18px;
}

.bigger{
    color: #000000;
    font-family: "Avant Garde - Book";
    margin-right: 2px;
    letter-spacing: 1.8px;
}

.between{
    font-family: "Avant Garde - Book";
    font-weight: 300;
    letter-spacing: 1.8px;
}

.smaller{
    font-family: "Myriad Pro";
    font-weight: 300;
    letter-spacing: 1.8px;
}

.lastOne img{
    width: 100%;
    height: 100%;
}

.imgs{
    width: 30.5%;
    height: 30.5%;
    object-fit: contain;
    margin-bottom: 15px;

}

.imgs div{
    display: flex;
    justify-content: center
}


@media screen and (max-width: 768px) {

    .imgs h4, .content h4, .first p, .first h4 {
        font-size: 1.8vw;
    }

    .top{
        margin-bottom: 0px;
        height: 684px;
    }
    
    .middle{
        flex-direction: column;
    }

    .first,.second{
        width: 100%;
    }

    .first h4{
        margin-bottom: 40px;
    }

    .second{
        justify-content: center;
    }

    .secondPhoto{
        margin-right: 0px;
    }

    .bottom{
        flex-direction: column;
    }

    .photo,.content{
        width: 100%;
    }

    .photo2{
        display: block;
    }

    .photo2 img{
        width: 100%;
        height: 100%;
    }

    .photo{
        display: none;
    }

    .photo2{
        margin-bottom: 5%;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    .content h4{
        margin-left: 0;
    }

    .imgs{
        width: 31%;
        height: 31%;
    }

    .contentTitle{
        width: 100%;
    }
    
    .contentTitle h3{
        font-size: 7vw;
    }

}



@media screen and (max-width: 426px) {

    .imgs h4, .content h4, .first p, .first h4 {
        font-size: 2.8vw;
    }
    .top{
        height: 373px;
    }

    .bottom{
        margin-bottom: 44px;
    }

    .firstPhoto{
        width: 100%;
    }

    .first p{
         width: 95%;
    }

    .secondPhoto{
        width: 80%;
        height: 50%;
        margin: auto;
    }

    .middle{
        margin-bottom: 50px;
    }

    .lastOne{
        flex-wrap: wrap;
        margin-bottom: 45px;
    }

    .imgs:last-child{
        width: 47%;
        margin: auto;
        margin-top: 33px;
    }

    .imgs {
        width: 47%;
        height: 47%;
    }
    
    .contentTitle h3{
        font-size: 11vw;
    }
}

